{% extends "base.html" %}

{% load bootstrap %}

{% block title %}Add a user{% endblock title %}

{% block body %}
    <div class="col-md-10 col-md-offset-1">
        <h1 class="text-center">Create a new user</h1>
        <hr/>
        <form method="post" action="{% url 'create_user' %}" class="form-horizontal">
            {% csrf_token %}
            {{ form |bootstrap_horizontal }}
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="submit" class="btn btn-block btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
{% endblock body %}
        
